/* Card */

.dashboard_card {
    border-radius: var(--BR1);
    margin: calc(0.3vw + 0.9vh + 0.3vmin);
    padding: calc(0.3vw + 0.9vh + 0.3vmin);
    -webkit-box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    -moz-box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    box-sizing: border-box;
}

.card_title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: var(--color_1);
    font-size: var(--TS7);
    align-self: center;
    text-decoration: underline;
    text-underline-offset: calc(0.1vw + 0.3vh + 0.1vmin);
    text-decoration-color: var(--color_7);
}

.card_details {
    font-family: 'Barlow';
    font-weight: 500;
    color: var(--color_1);
    font-size: var(--TS9);
    align-self: center;
}

.card_details_wrapper {
    padding: var(--TS9) 0 0 0;
}