.input_main_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input_outer_div {
    display: flex;
    font-size: var(--TS5);
    line-height: 1.15;
    border-radius: 4px;
    border-color: transparent;
    background-color: var(--color_5);
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.filter.input_box_wrapper>.input_outer_div {
    display: flex;
    font-size: var(--TS5);
    line-height: 1.15;
    border-radius: 4px;
    border-color: transparent;
    background-color: var(--color_5);
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.input_innerLeft_div {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: calc(0.3vw + 0.9vh + 0.3vmin);
    left: 0;
}

.input_innerCenter_div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.filter.input_box_wrapper>.input_outer_div>.input_innerCenter_div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.input_innerRight_div {
    position: absolute;
    display: flex;
    margin-right: calc(0.3vw + 0.9vh + 0.3vmin);
    right: 0;
}

.input_box_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    font-size: var(--TS5);
}

.filter.input_box_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    font-size: var(--TS5);
}

.input_innerCenter_div>input {
    border-radius: 4px;
    border-color: transparent;
    text-align: center;
    height: 100%;
    border-style: solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.input_innerCenter_div>textarea {
    border-radius: 4px;
    border-color: transparent;
    height: 100%;
    border-style: solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align-last: start;
}

.input_box_wrapper .Label {
    color: var(--color_26);
    pointer-events: none;
    transform-origin: top left;
    transition: all 0.2s ease-out;
    z-index: 10;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--TS6);
}

/* .input_box_wrapper:focus-within .Label {
    transform: translate(calc(0.25vw + 0.75vh + 0.25vmin), calc(-0.6vw - 1.8vh - 0.6vmin)) scale(0.55);
    color: var(--color_1);
    font-size: var(--TS5);
    justify-content: flex-start;
    font-weight: 500;
} */

.input_box_wrapper .top {
    transform: translate(calc(0.25vw + 0.75vh + 0.25vmin), calc(-0.6vw - 1.8vh - 0.6vmin)) scale(0.55);
    color: var(--color_1);
    font-size: var(--TS6);
    justify-content: flex-start;
    font-weight: 500;
}

.input_box_wrapper input:focus-within {
    border-color: transparent;
    border-width: calc(0.05vw + 0.15vh + 0.05vmin);
    border-style: solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.input_box_wrapper input:focus {
    outline: none !important;
}

.input_box_wrapper:focus-within {
    border-color: transparent;
    border-style: solid;
    border-width: calc(0.05vw + 0.15vh + 0.05vmin);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.checkbox_option_wrapper {
    display: flex;
    padding: 1vh;
}

.invalid_entry_container {
    border-color: var(--color_3) !important;
    border-style: solid;
    border-width: calc(0.05vw + 0.15vh + 0.05vmin);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.invalid_entry {
    color: var(--color_3);
    font-size: var(--TS6);
    font-weight: 500;
    padding-top: calc(0.09vw + 0.27vh + 0.09vmin);
}

.dropdown_main_container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Main {
    display: flex;
    background: var(--color_5);
    border-radius: 4px;
    position: relative;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.DropDownContainer {
    width: 10.5em;
    margin: 0 auto;
}

.DropDownHeader {
    padding: calc(0.18vw + 0.54vh + 0.18vmin)  calc(0.9vw + 2.7vh + 0.9vmin);
    color: var(--color_21);
    width: 100%;
    border-radius: 4px;
}

.filter.input_box_wrapper>.input_outer_div>.input_innerCenter_div>.DropDownHeader {
    padding: calc(0.18vw + 0.54vh + 0.18vmin) 0;
    color: var(--color_21);
    width: 100%;
    border-radius: 4px;
}

.DropDownListContainer {
    position: relative;
}

.DropDownList {
    background: var(--color_5);
    box-sizing: border-box;
    color: var(--color_21);
    position: absolute;
    width: 100%;
    border-radius: 4px;
    border-color: transparent;
    z-index: 100;
}

.dropdown_option {
    border-color: var(--color_1) !important;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    margin: calc(0.1vw + 0.3vh + 0.1vmin) calc(0.3vw + 0.9vh + 0.3vmin);
    padding: calc(0.05vw + 0.15vh + 0.05vmin) 0 calc(0.1vw + 0.3vh + 0.1vmin) 0;
}

.dropdown_option:hover {
    color: var(--color_1) !important;
}

.dropdown_option:last-child {
    border-style: none;
}

.ListItem {
    list-style: none;
    margin-bottom: 0.8em;
}

.ListItem:hover {
    color: #fd9e46;
}

.input_innerRight_arrow {
    position: absolute;
    display: flex;
    margin-right: calc(0.3vw + 0.9vh + 0.3vmin);
    right: 0;
}

.input_innerRight_icon {
    object-fit: contain;
    height: calc(0.7vw + 2.1vh + 0.7vmin);
    display: flex;
    align-items: center;
}

.down_up_arrow_icon {
    height: 2.8vh;
    width: 2.4vh;
    margin: 0 0 0 2vw;
    object-fit: contain;
}

.checkbox{
    margin: 0.7vh;
}

.box_tick{
    display: flex;
}