/* login */

.login_popupformcontainer {
    display: grid;
    justify-items: center;
    align-items: center;
}

.login_SMicon {
    object-fit: contain;
    width: calc(0.5vw + 1.5vh + 0.5vmin);
    height: calc(0.5vw + 1.5vh + 0.5vmin);
    margin-right: calc(0.3vw + 0.9vh + 0.3vmin);
}

.admincontainer {
    display: flex;
    margin: 1vh 12vh 0 0;
}

.admin_text {
    display: block;
    color: var(--color_2);
    font-size: var(--TS5);
    text-align: center;
    font-weight: 500;
    width: 70%;
}

.tab_active {
    padding: 3vh 0;
    width: 50%;
    color: var(--color_5);
    text-decoration: underline;
    text-decoration-color: var(--color_1);
    text-underline-offset: 0.6vw;
}

.tab_inactive {
    padding: 3vh 0;
    width: 50%;
    color: var(--color_6);
    ;
    font-size: var(--TS4);
    align-self: center;
}

.login_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.login_button_sub_container{
    display: flex;
}