.user_main_container {
    background-color: var(--color_6);
    border-radius: var(--BR1);
    margin: calc(0.4vw + 1.2vh + 0.4vmin);
    width: 80vw;
    height: 90vh;
}

.user_container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.user_warp {
    display: flex;
    flex-direction: column;
}

.user_sub_container1 {
    background-color: var(--color_8);
    color: var(--color_5);
    border-radius: var(--BR1);
    padding: calc(0.2vw + 0.6vh + 0.2vmin);
    width: 52vh;
    height: 80vh;
    -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.user_sub_container2 {
    background-color: var(--color_8);
    color: var(--color_5);
    border-radius: var(--BR1);
    margin: calc(0.6vw + 1.8vh + 0.6vmin);
    padding: calc(0.2vw + 0.6vh + 0.2vmin);
    width: 52vh;
    height: 35vh;
    -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.user_profile_picture {
    height: 25vh;
}

.user_profile_text {
    color: var(--color_21);
    font-size: var(--TS4);
    font-weight: 600;
    width: 18vh;
}

.user_details_text {
    font-family: 'Barlow';
    font-weight: 600;
    color: var(--color_1);
    font-size: var(--TS7);
    align-self: center;
    padding: 0 0.6vw;
}

.user_data {
    font-family: 'Barlow';
    color: var(--color_1);
    font-size: var(--TS7);
    align-self: center;
    padding: 0 0.6vw;
}

.user_sub_details {
    margin: calc(0.4vw + 1.2vh + 0.4vmin);
    color: var(--color_4);
    font-size: var(--TS5);
    font-weight: 500;
}

.user_band {
    background-color: var(--color_10);
    width: 100%;
    height: 0.2vh;
}