.companybranch_wrapper {
    display: flex;
    flex-direction: column;
    padding: calc(0.15vw + 0.45vh + 0.15vmin);
    border-radius: calc(0.1vw + 0.3vh + 0.1vmin);
    background-color: var(--color_12);
    z-index: 1;
}

.companybranch_container {
    display: flex;
    justify-content: center;
    position: absolute;
}