#root {
    display: flex;
    font-family: Barlow;
}

.page_wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    margin: calc(0.15vw + 0.45vh + 0.15vmin) calc(0.15vw + 0.45vh + 0.15vmin) calc(0.15vw + 0.45vh + 0.15vmin) calc(1.6vw + 4.8vh + 1.6vmin);
    border-radius: 4px;
    /* overflow: scroll; */
}

.page_shift_left {
    margin-left: calc(4.5vw + 13.5vh + 4.5vmin);
}

.bgtransparent {
    background-color: transparent !important;
}

.test_green {
    color: #60ce80 !important
}

.text_blue {
    color: #154360 !important
}

.text_spacer {
    padding-left: var(--TS11) !important;
    padding-right: var(--TS11) !important;
}

.fullwidth {
    width: 100% !important;
}

:root {
    --TS1: calc(1.15vw + 3.45vh + 1.15vmin);
    --TS2: calc(0.79vw + 2.37vh + 0.79vmin);
    --TS3: calc(0.8vw + 2.4vh + 0.8vmin);
    --TS4: calc(0.6vw + 1.8vh + 0.6vmin);
    --TS5: calc(0.5vw + 1.5vh + 0.5vmin);
    --TS6: calc(0.4vw + 1.2vh + 0.4vmin);
    --TS7: calc(0.35vw + 1.05vh + 0.35vmin);
    --TS8: calc(0.33vw + 0.99vh + 0.33vmin);
    --TS9: calc(0.3vw + 0.9vh + 0.3vmin);
    --TS10: calc(0.25vw + 0.75vh + 0.25vmin);
    --TS11: calc(0.2vw + 0.6vh + 0.2vmin);
    --TS12: calc(0.17vw + 0.51vh + 0.17vmin);
    --TS13: calc(0.12vw + 0.36vh + 0.12vmin);
    --TS14: calc(0.08vw + 0.24vh + 0.08vmin);
    --color_1: #154360;
    --color_2: #01003c;
    --color_3: #ff0000;
    --color_4: #242446;
    --color_5: #ffffff;
    --color_6: #00000019;
    --color_7: #60ce80;
    --color_8: #fcfeff;
    --color_9: #eac952;
    --color_10: #60ce80;
    --color_11: #dc0000;
    --color_12: #efecec;
    --color_13: #00008b;
    --color_14: #449698;
    --color_15: #ddd;
    --color_16: #378587;
    --color_17: #639A4D;
    --color_18: #fc595a;
    --color_19: #4fb5ff;
    --color_20: #dcfd47;
    --color_21: #000000;
    --color_22: #e06a6a19;
    --color_23: #acfc91c2;
    --color_24: #e0e0e0;
    --color_25: #757588;
    --color_26: #999;
    --color_27: #000000a4;
    --BR1: calc(0.1vw + 0.3vh + 0.1vmin);
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
.main {
    height: 100vh;
    width: 100%;
    text-align-last: center;
    display: grid;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 1vh 0;
}

.screen_header_element {
    display: flex;
    padding-right: calc(0.25vw + 0.75vh + 0.25vmin);
    align-items: center;
    cursor: pointer;
}

.title {
    color: var(--color_2);
    font-size: var(--TS4);
    text-align: center;
    font-weight: 600;
    padding: 2vh 0;
    text-decoration: underline;
    text-underline-offset: 2vh;
    text-decoration-color: var(--color_7);
    display: flex;
    justify-content: center;
}

.sub_title {
    color: var(--color_2);
    font-size: var(--TS5);
    text-align: center;
    font-weight: 600;
    padding: 2vh 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
}

.inputfield_title_text {
    display: block;
    color: var(--color_2);
    font-size: var(--TS4);
    text-align: center;
    padding-bottom: 1vh;
}

.inputfield_main_container {
    padding: calc(0.3vw + 0.9vh + 0.3vmin) 0;
}

.inputfield_sub_container {
    padding: calc(0.3vw + 0.9vh + 0.3vmin) 0;
}

.textinput_box {}

.textinput_box:focus {
    outline: none !important;
}

/* invalid form entry */

.sendicon {
    object-fit: contain;
    width: 60%;
    height: 60%;
    margin-left: 0.6vh;
}

/* table css */

.table_column_td {
    background-color: var(--color_13) !important;
    font-size: var(--TS4);
    font-weight: 600;
    padding: 0 calc(0.3vw + 0.9vh + 0.3vmin) !important;
}

tr:nth-child(even) {
    background-color: var(--color_24);
}

/* internal_table css */

.internal_table {
    position: relative;
}

#internal_table {
    font-size: var(--TS7);
    align-self: center;
    /* color: var(--color_1); */
}

#internal_table thead {
    font-weight: 600;
}

#internal_table tr, #internal_table th {
    border-color: var(--color_7);
    border-style: solid;
    border-width: 0 calc(0.01vw + 0.03vh + 0.01vmin) calc(0.01vw + 0.03vh + 0.01vmin) 0;
}

#internal_table tr, #internal_table th:last-of-type {
    border-color: var(--color_7);
    border-style: solid;
    border-width: 0 0 calc(0.01vw + 0.03vh + 0.01vmin) 0;
}

#internal_table tbody tr td {
    border-color: var(--color_7);
    border-style: solid;
    border-width: 0 calc(0.01vw + 0.03vh + 0.01vmin) 0 0;
}

#internal_table tbody tr td:last-of-type {
    border-color: var(--color_7);
    border-style: solid;
    border-width: 0;
}

/* invalid form entry */

.name_text {
    margin: 0.5vh 0vh 0vh 0vh;
    font-weight: 600;
    font-size: var(--TS4);
}

/* popup */

.popup_wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: top;
}

.popup_bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--color_27);
    z-index: 1000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: top;
    animation: fade-in 0.4s ease forwards;
}

.popup_container {
    align-self: center;
    display: grid;
    z-index: 999999;
    animation: pop-in 0.4s ease forwards;
}

.orderby_arrow>.open_close_arrow_icon {
    padding-left: calc(0.1vw + 0.3vh + 0.1vmin);
    width: 0;
}

#internal_table>thead>tr>th:hover>.title_wrapper>.orderby_arrow>.open_close_arrow_icon {
    width: calc(0.3vw + 0.9vh + 0.3vmin);
    transition: width 0.1s;
}

#internal_table>thead>tr>th>.title_wrapper {
    display: flex;
    white-space: nowrap;
    padding: 0 calc(0.25vw + 0.75vh + 0.25vmin);
    justify-content: center;
    cursor: pointer;
}

#internal_table>thead>tr>th:hover>.title_wrapper {
    padding: 0 calc(0.1vw + 0.3vh + 0.1vmin);
    transition: padding 0.1s;
}

@keyframes pop-in {
    0% {
        transform: scale(0.4);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.popup {
    position: relative;
    /* background-color: var(--color_15); */
    z-index: 20000;
    border-radius: 4px;
    border-color: var(--color_7);
    border-style: solid;
    margin: 0vh 5vw;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-width: calc(0.05vw + 0.15vh + 0.05vmin);
    padding: calc(0.4vw + 1.2vh + 0.4vmin);
}

.confirm.popup_container>.popup {
    position: relative;
    background-color: var(--color_5) !important;
    z-index: 200;
    border-radius: 4px;
    border-style: solid;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-width: calc(0.05vw + 0.15vh + 0.05vmin);
    padding: 0;
    width: 100%;
}

.popup_title {
    text-align: center;
    padding-bottom: calc(0.4vw + 1.2vh + 0.4vmin);
    font-weight: 600;
    color: var(--color_1);
    font-size: var(--TS6);
    align-self: center;
    text-decoration: underline;
    text-underline-offset: calc(0.1vw + 0.3vh + 0.1vmin);
    text-decoration-color: var(--color_7);
}

.confirm.popup_container>.popup>.popup_title {
    text-align: center;
    padding: 2vh 1vw;
    font-weight: 600;
    color: var(--color_1) !important;
    font-size: var(--TS6);
    align-self: flex-start;
    text-decoration: none;
}

.popup_description {
    margin: 2vh 5vw;
}

.popup_text {
    font-size: var(--TS7);
    text-align: center;
    font-weight: 500;
    color: var(--color_1) !important;
}

.popup_button_container {
    display: flex;
    justify-content: space-evenly;
    padding-top: calc(0.5vw + 1.5vh + 0.5vmin);
    width: 100%;
}

.confirm.popup_container>.popup>.popup_button_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    background-color: var(--color_15);
    padding: 1.3vh 0;
}

.popup_video_screen {
    background: var(--color_6);
    height: 20vh;
    width: 40vh;
    display: grid;
}

.popup_user_icon {
    height: 10vh;
    align-self: center;
}

.confirm.popup_container>.popup>.popup_band {
    background-color: var(--color_15);
    width: 100%;
    height: 1px;
}

/* mic */

.popup_mic_container {
    display: flex;
}

.popup_mic_button {
    background-color: var(--color_5);
    border-radius: calc(0.6vw + 0.6vh);
    border-color: transparent;
    display: flex;
    align-items: center;
    padding: 1vh 2vw;
    margin: 2vh 0;
    width: 100%;
}

.popup_micimg {
    height: 10vh;
}

.popup_submit_button {
    padding: calc(0.15vw + 0.45vh + 0.15vmin) calc(0.25vw + 0.75vh + 0.25vmin);
    font-weight: 600;
    background-color: var(--color_10);
    border-radius: 4px;
    border: solid;
    border-color: var(--color_4);
    color: var(--color_4);
    font-size: var(--TS7);
    border-width: calc(0.05vw + 0.15vh + 0.05vmin);
    margin: 0 calc(0.25vw + 0.75vh + 0.25vmin);
}

.confirm.popup_container>.popup>.popup_button_container>.popup_submit_button {
    padding: calc(0.14vw + 0.42vh + 0.14vmin) calc(0.27vw + 0.81vh + 0.27vmin);
    font-weight: 400;
    background-color: var(--color_10);
    border-radius: 4px;
    border: none;
    color: var(--color_5);
    font-size: var(--TS7);
    margin: 0 calc(0.30vw + 0.90vh + 0.30vmin);
}

.popup_cancel_button {
    padding: calc(0.15vw + 0.45vh + 0.15vmin) calc(0.25vw + 0.75vh + 0.25vmin);
    font-weight: 600;
    background-color: var(--color_11);
    border-radius: 4px;
    border: solid;
    border-color: var(--color_4);
    color: var(--color_4);
    font-size: var(--TS7);
    border-width: calc(0.05vw + 0.15vh + 0.05vmin);
    margin: 0 calc(0.25vw + 0.75vh + 0.25vmin);
}

.confirm.popup_container>.popup>.popup_button_container>.popup_cancel_button {
    padding: calc(0.13vw + 0.39vh + 0.13vmin) calc(0.25vw + 0.75vh + 0.25vmin);
    font-weight: 400;
    background-color: transparent;
    border: none;
    color: var(--color_11);
    font-size: var(--TS7);
    margin: 0;
    text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
.site_title {
    font-weight: 600;
    color: var(--color_1);
    font-size: var(--TS1);
    white-space: nowrap
}

.spinner_fullscreen_div {
    width: 100%;
    height: 80%;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_title {
    color: var(--color_2);
    font-size: var(--TS5);
    text-align: center;
    font-weight: 600;
    padding: 2vh 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
}

#bidlog>thead>tr>th {
    font-weight: 500;
}

/* Add-remove */

.addremove_container {
    display: flex;
}

.addremove_text {
    font-family: 'Barlow';
    font-size: var(--TS6);
    align-self: center;
    align-items: center;
    margin: calc(0.3vw + 0.9vh + 0.3vmin);
    /* color: var(--color_1); */
}

/* band */

.user_band {
    /* background-color: var(--color_10); */
    width: 100%;
    height: 0.2vh;
}

/* filter */

.mc_filter {
    display: flex;
}

/* login */

.loginBG {
    width: 100%;
    height: 100%;
    background: url(https://images.unsplash.com/photo-1532292060982-8bfb986808e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80);
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: absolute;
    background-size: cover;
    background-position: center;
}

.login_title_wrapper {
    display: flex;
}

.login_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: calc(1vw + 3vh + 1vmin) 0 0 0;
    z-index: 1;
}

.login_top_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginDescription_Text {
    /* color: var(--color_5); */
    font-size: var(--TS9);
    text-align: center;
    font-weight: 400;
    margin: calc(0.2vw + 0.6vh + 0.2vmin) 0;
    z-index: 1;
}

.loginToS_Text {
    color: var(--color_12);
    font-size: var(--TS11);
    text-align: center;
    font-weight: 500;
    margin: calc(0.2vw + 0.6vh + 0.2vmin) 0;
    width: 70%;
}

.login_popupformcontainer {
    display: grid;
    justify-items: center;
    align-items: center;
}

.login_button_container {
    margin: calc(0.1vw + 0.6vh + 0.1vmin) calc(0.2vw + 0.9vh + 0.2vmin);
    width: 100%;
}

.login_SMbutton {
    background-color: var(--color_5);
    border-radius: 4px;
    border-color: transparent;
    display: flex;
    align-items: center;
    padding: calc(0.1vw + 0.3vh + 0.1vmin) calc(0.3vw + 0.9vh + 0.3vmin);
    margin: calc(0.25vw + 0.75vh + 0.25vmin) 0;
    width: 100%;
    color: #757588;
}

.login_input {
    background-color: var(--color_12);
    border-radius: 4px;
    border-color: transparent;
    font-size: var(--TS8);
    text-align: center;
    font-weight: 400;
    color: var(--color_2);
    padding: calc(0.15vw + 0.45vh + 0.15vmin) 0;
    width: 100%;
}

.login_validatebutton {
    padding: calc(0.15vw + 0.45vh + 0.15vmin) calc(0.5vw + 1.5vh + 0.5vmin);
    justify-self: center;
    /* background-color: var(--color_7); */
    border-radius: 4px;
    border-color: transparent;
    /* color: var(--color_5); */
}

.login_buttontext {
    font-size: var(--TS8);
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
}

.login_SMicon {
    object-fit: contain;
    width: calc(0.5vw + 1.5vh + 0.5vmin);
    height: calc(0.5vw + 1.5vh + 0.5vmin);
    margin-right: 2vw;
}

.admincontainer {
    display: flex;
    margin: 1vh 12vh 0 0;
}

.admin_text {
    display: block;
    color: var(--color_2);
    font-size: var(--TS5);
    text-align: center;
    font-weight: 500;
    width: 70%;
}

.results_container {
    background-color: var(--color_14);
    color: var(--color_5);
    border-color: var(--color_1);
    border-width: calc(0.1vw + 0.3vh + 0.1vmin);
    border-style: solid;
    border-radius: 4px;
}

.login_tab_active {
    padding: calc(0.2vw + 0.6vh + 0.2vmin);
    color: var(--color_5);
    text-decoration: underline;
    text-decoration-color: var(--color_1);
    text-underline-offset: calc(0.1vw + 0.3vh + 0.1vmin);
}

.login_tab_inactive {
    padding: calc(0.25vw + 0.75vh + 0.25vmin);
    color: var(--color_4);
    font-size: var(--TS7);
    align-self: center;
    font-weight: 500;
}

.login_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

.login_button_sub_container {
    display: flex;
}

/* .login_form_prop {
    margin: 1vh;
} */

.login_form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    -moz-box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    box-sizing: border-box;
    padding: var(--TS7);
    z-index: 1;
}

.login_title {
    color: var(--color_5);
    font-size: var(--TS7);
    text-align: center;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: var(--TS9) 0;
    z-index: 1;
}

.login_page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}

.login_menu_logo {
    object-fit: contain;
    width: calc(4.3vw + 12.9vh + 4.3vmin);
    height: calc(2.5vw + 7.5vh + 2.5vmin);
}

.login_resendotp_container {
    /* display: flex; */
}

.disabled_text {
    color: var(--color_15);
}

.disabled_button {
    background-color: var(--color_25)!important;
}