.desc {
    color: var(--color_10);
    font-size: var(--TS4);
    padding: var(--TS10);
    text-align: center;
    font-weight: 500;
    z-index: 1;
}

.cookie_menu_logo {
    object-fit: contain;
    width: 70vw;
    height: 14vh;
    padding: var(--TS12) 0;
}

.cookie_top_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cookie_email_login_button_container {
    justify-content: center;
    align-self: center;
    text-align: -webkit-center;
    padding: var(--TS1) 0 0 0;
}

.cookie_email_login_button {
    font-size: var(--TS3);
    font-weight: 600;
    border-radius: var(--TS5);
    padding: var(--TS12) var(--TS5);
    border-width: var(--TS15);
    line-height: var(--TS1);
    border-style: solid;
}


.login_tab_active {
    padding: calc(0.2vw + 0.6vh + 0.2vmin);
    color: var(--color_5);
    text-decoration: underline;
    text-decoration-color: var(--color_1);
    text-underline-offset: calc(0.1vw + 0.3vh + 0.1vmin);
}

.login_tab_inactive {
    padding: calc(0.25vw + 0.75vh + 0.25vmin);
    color: var(--color_4);
    font-size: var(--TS7);
    align-self: center;
    font-weight: 500;
}

.login_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

.login_button_sub_container {
    display: flex;
}


/* .login_form_prop {
    margin: 1vh;
} */

.login_form_wrapper {
    background-color: var(--color_101);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--TS4);
    -webkit-box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    -moz-box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    box-sizing: border-box;
    z-index: 1;
}

.login_title {
    color: var(--color_5);
    font-size: var(--TS7);
    text-align: center;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: var(--TS9) 0;
    z-index: 1;
}

.login_page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}

.login_menu_logo {
    object-fit: contain;
    width: 90vw;
    height: 25vh;
}

.login_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0 0 7vh 0;
    z-index: 1;
}

.login_top_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginTitle_Text {
    color: var(--color_10);
    font-size: var(--TS4);
    text-align: center;
    font-weight: 500;
    z-index: 1;
}

.loginDescription_Text {
    color: var(--color_10);
    font-size: var(--TS9);
    text-align: center;
    font-weight: 500;
    margin: calc(0.2vw + 0.6vh + 0.2vmin) 0;
    z-index: 1;
    text-decoration: underline;
    text-underline-offset: var(--TS12);
    text-decoration-thickness: 2px;
    padding-bottom: var(--TS10);
}

.login_popupformcontainer1 {
    display: grid;
    justify-items: center;
    align-items: center;
}

.login_button_container {
    margin: calc(0.1vw + 0.6vh + 0.1vmin) calc(0.2vw + 0.9vh + 0.2vmin);
    width: 100%;
}

.login_SMbutton {
    background-color: var(--color_0);
    border-radius: 4px;
    border-color: transparent;
    display: flex;
    align-items: center;
    padding: var(--TS12) var(--TS6);
    margin: var(--TS10) 0;
    width: 100%;
    color: var( --color_8);
}

.login_buttontext1 {
    font-size: var(--TS8);
    text-align: center;
    font-weight: 400;
    white-space: nowrap;
}

.login_SMicon {
    object-fit: contain;
    width: var(--TS5);
    height: var(--TS5);
    margin-right: var(--TS7);
}

.clickme{
    color: var(--color_10);
    font-size: var(--TS8);
    text-align: center;
    font-weight: 500;
    padding: var(--TS12) 0;
}