.user_details {
    display: flex;
    align-items: center;
}

.user_details_sub_container {
    background-color: var(--color_14);
    color: var(--color_5);
    border-radius: calc(0.25vw + 0.75vh + 0.25vmin);
    margin: calc(1.2vw + 3.6vh + 1.2vmin);
    padding: calc(0.2vw + 0.6vh + 0.2vmin);
    width: 45vh;
    height: 40vh;
}

.user_profile_picture {
    height: 25vh;
}

.user_details_text {
    font-size: var(--TS6);
    font-weight: 500;
}

.user_profile_text {
    font-size: var(--TS4);
    font-weight: 600;
}

.user_sub_details {
    display: flex;
}