.footer {
    background-color: var(--color_1);
    color: var(--color_5);
    text-align: center;
    padding: calc(0.1vw + 0.3vh + 0.1vmin);
    justify-content: center;
    align-items: center;
    display: flex;
    align-self: flex-end;
    font-size: var(--TS12);
    border-radius: 4px;
    width: 99.4%;
    z-index: 1;
}