/* div */

.bidlog_table_column1 {
    display: flex;
}

/* table */

.bidlog_table {
    text-align-last: center;
    overflow-x: scroll;
}

#bidlog {
    background-color: var(--color_16);
    color: var(--color_5);
    border-color: var(--color_1);
    border-width: calc(0.1vw + 0.3vh + 0.1vmin);
    border-style: solid;
    border-radius: 2vw;
    font-size: var(--TS4);
    margin: 0vh 0 7vh;
    line-height: 6vh;
}

#bidlog thead {
    text-decoration: underline;
    text-decoration-color: var(--color_1);
    text-underline-offset: 0.6vw;
    background-color: var(--color_13);
}

#bidlog td, #bidlog th {
    border: 1px solid var(--color_1);
    padding: calc(0.3vw + 0.9vh + 0.3vmin) calc(0.4vw + 1.2vh + 0.4vmin);
}

.opration {
    text-align: center;
}

.bidlog_filterfield_container {
    display: flex;
    padding: calc(0.3vw + 0.9vh + 0.3vmin);
}

.bidrecord_dropdown {
    font-size: var(--TS5);
    font-weight: 500;
    line-height: 1.15;
    padding: 0px calc(0.2vw + 0.6vh + 0.2vmin);
    margin: 0px calc(0.1vw + 0.3vh + 0.3vmin);
    background-color: var(--color_13);
    color: var(--color_5);
    border-color: var(--color_1);
    border-width: calc(0.05vw + 0.15vh + 0.05vmin);
    border-style: solid;
    border-radius: 2vw;
}

.bidrecord_noformat_dropdown {
    font-size: var(--TS5);
    text-align: center;
    font-weight: 500;
    padding: 0px calc(0.2vw + 0.6vh + 0.2vmin);
    margin: 0px calc(0.3vw + 0.9vh + 0.3vmin);
    background-color: transparent;
    border-color: transparent;
    border-color: var(--color_1);
    border-width: calc(0.05vw + 0.15vh + 0.05vmin);
    border-style: solid;
    border-radius: 2vw;
}

.bidrecord_filterandclose_button {
    font-size: var(--TS5);
    font-weight: 500;
    line-height: 1.15;
    padding: 0px calc(0.2vw + 0.6vh + 0.2vmin);
    margin: 0px calc(0.1vw + 0.3vh + 0.3vmin);
    background-color: var(--color_1);
    border-color: var(--color_13);
    border-width: calc(0.05vw + 0.15vh + 0.05vmin);
    border-style: solid;
    border-radius: 2vw;
    display: flex;
    align-items: center;
}

.filter_icon_container {
    height: var(--TS5);
    padding-left: calc(0.1vw + 0.3vh + 0.3vmin);
}

.filter_icon {
    height: 100%;
    object-fit: contain;
}

.projectname_dropdown {
    font-size: var(--TS5);
    text-align: center;
    font-weight: 500;
    padding: 0px calc(0.2vw + 0.6vh + 0.2vmin);
    margin: 0px calc(0.3vw + 0.9vh + 0.3vmin);
    background-color: transparent;
    border-color: transparent;
    border-color: var(--color_1);
    border-width: calc(0.05vw + 0.15vh + 0.05vmin);
    border-style: solid;
    border-radius: 2vw;
}

.main_selector_div {
    color: var(--color_2);
    font-size: var(--TS4);
    text-align: center;
    font-weight: 600;
    padding: 2vh 0;
    text-decoration: underline;
    text-underline-offset: 2vh;
    text-decoration-color: var(--color_7);
    display: flex;
    justify-content: center;
}

.project_title {
    color: var(--color_21);
    font-size: var(--TS4);
    font-weight: 600;
    width: 18vh;
}