.input_checkbox {
    display: flex;
}

.checkbox_sub_container {
    font-family: 'Poppins';
    font-size: var(--TS4);
    align-self: center;
    padding: 0 0.6vw;
}

.Portrait {
    height: 40px;
    width: 40px;
}