.input_checkbox {
    display: flex;
}

.checkbox_sub_container {
    display: flex;
    font-family: 'Poppins';
    font-size: var(--TS4);
    align-self: center;
    align-items: center;
}

.checkbox_text {
    font-family: 'Poppins';
    font-size: var(--TS4);
    align-self: center;
    align-items: center;
    margin: var(--TS10);
}

.checkbox {
    height: 30px;
    width: 30px;
    margin: var(--TS9);
}